<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" style="border-collapse: collapse">
    <tr>
        <th colspan="6" style="text-align: center">
            <h1>CÁC VIỆC CẦN LÀM</h1>
        </th>
    </tr>
    <tr>
        <th style="text-align: center">Mức Độ Ưu Tiên</th>
        <th style="text-align: center">Ngày Bắt Đầu</th>
        <th style="text-align: center">Ngày Đến Hạn</th>
        <th style="text-align: center">Nội Dung Công Việc</th>
        <th style="text-align: center">Đang Xử Lý</th>
        <th style="text-align: center">Đã Hoàn Tất</th>
    </tr>
    <tr>
        <td>{name1}</td>
        <td>{name2}</td>
        <td>{name3}</td>
        <td>{name4}</td>
        <td>{name5}</td>
        <td>{name6}</td>
    </tr>
    <tr>
        <td>{name_1}</td>
        <td>{name_2}</td>
        <td>{name_3}</td>
        <td>{name_4}</td>
        <td>{name_5}</td>
        <td>{name_6}</td>
    </tr>
</table>
</body>
</html>