<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
<table border="1" style="border-collapse: collapse">
    <tr>
        <th colspan="6" style="text-align: center">
            <h1>CÁC VIỆC CẦN LÀM</h1>
        </th>
    </tr>
    <tr>
        <th style="text-align: center">Mức Độ Ưu Tiên</th>
        <th style="text-align: center">Ngày Bắt Đầu</th>
        <th style="text-align: center">Ngày Đến Hạn</th>
        <th style="text-align: center">Nội Dung Công Việc</th>
        <th style="text-align: center">Đang Xử Lý</th>
        <th style="text-align: center">Đã Hoàn Tất</th>
    </tr>
    <tr>
        <td><input style="text-align: center" type="text" name="name1" required></td>
        <td><input style="text-align: center" type="text" name="name2" required></td>
        <td><input style="text-align: center" type="text" name="name3" required></td>
        <td><input style="text-align: center" type="text" name="name4" required></td>
        <td><input style="text-align: center" type="text" name="name5" required></td>
        <td><input style="text-align: center" type="text" name="name6" required></td>
    </tr>
    <tr>
        <td><input style="text-align: center" type="text" name="name_1" required></td>
        <td><input style="text-align: center" type="text" name="name_2" required></td>
        <td><input style="text-align: center" type="text" name="name_3" required></td>
        <td><input style="text-align: center" type="text" name="name_4" required></td>
        <td><input style="text-align: center" type="text" name="name_5" required></td>
        <td><input style="text-align: center" type="text" name="name_6" required></td>
    </tr>
    <button type="submit">---SAVE---</button>
</table>
</form>
</body>
</html>